<div class="row">
  <div class="col-auto">
    {{!-- <h2>Welcome to your dashboard, {{name}}!</h2> --}}
    <h2>Welcome to your dashboard!</h2>
  </div>
</div>

<script src="./js/dashboard.js"></script>